body{
    font-family: 'Acme', sans-serif;
    background-repeat: no-repeat;
    background-image: url(images/img5.jpg);
    color: white; 
    width: 100%;
    height: 100%;
}


.tablas, table {
    /* display: block; */
    border: 1px solid white;
    text-align: center;  
    border-collapse: collapse;
    width: 90%;
    height: 100%;
   

    
}

tbody, td, tr {
    text-align: center;
    border: 1px solid white;
    text-align: center;
    border-collapse: collapse;
}


h1{
    text-align: center;
    color:white;
}

.general{
    width: 80%;
    height: 20%;
    padding: 10px;
    font-size: 20px;
}

.general button{
padding: 10px;
font-weight: 200;
font-size: 20px;
color: yellow;
background-color: black;
border-radius: 8px;
position: unset;

}

input{
    text-align: center;
    font-size: 15px;
}

#formulario{
    width: 100%;
    height: 100%;
}




